@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Header */
#hd {
  width: 100%;
  max-width: 1250px;
  padding: 0;
  margin: 0 auto;
}

#hd .hd__li {
  display: flex;
  align-items: center;
  margin-top: 90px;
  position: relative;
}

#hd .hd__li h1 {
  margin-right: 30px;
}

#hd .hd__li ul {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

#hd .hd__logo {
}

#hd .hd__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  border: 2px solid #9c57f5;
  border-radius: 40px;
  z-index: 3;
  height: 40px;
  font-family: 'noto sans kr';
}

#hd .hd__search h2 {
  padding: 0 10px 0 25px;
  margin: 0;
  height: 35px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 500;
}

#hd .hd__search button {
  background-color: transparent;
  border: none;
}
#hd .hd__search button img {
  width: 30px;
  height: 30px;
}
.search-input {
  width: 230px;
  height: 35px;
  padding-left: 0;
  background: #fff;
  border: none;
  font-size: 14px;
}
.search-input::placeholder {
  color: #989898;
}
.search-input:focus {
  border: none;
  outline: none;
}
.search-input:focus::placeholder {
  color: #9c57f5;
  font-weight: 600;
}

/* hd__login */
#hd .hd__login a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
#hd .hd__login li {
  margin-right: 20px;
}
#hd .hd__login li span {
  margin-bottom: 6px;
}
#hd .hd__login li:last-child {
  margin-right: 0;
}

/* GNB */

.gnb-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gnb-list .menu {
  display: flex;
  align-items: center;
}
.gnb-list .sub-site {
  display: flex;
  align-items: center;
}

.gnb-list .menu li:not(:first-child) {
  width: 100px;
  text-align: center;
  padding: 0 5px;
  font-size: 16px;
  height: 65px;
  line-height: 65px;
}

.gnb-list .menu-all img {
  width: 55px;
  height: 55px;
}

.gnb-list .menu li a {
  color: #333;
}

.gnb-list .sub-site li {
  width: 100px;
  text-align: center;
  padding: 0 5px;
  font-size: 16px;
}

/* section */
.content_top {
  position: relative;
  padding: 55px 0;
  background: linear-gradient(
    to right,
    rgba(173, 207, 255, 0.25) 0%,
    rgba(173, 206, 255, 0.25) 1%,
    rgba(181, 176, 248, 0.25) 50%,
    rgba(187, 143, 240, 0.25) 100%
  );
  border-bottom: 1px solid #dfdfdf;
}

.inner {
  display: flex;
  width: 1250px;
  margin: 0 auto;
}

.inner .inner__img {
  width: 420px;
  height: 370px;
  margin-right: 10px;
}

.inner .inner__img div {
  background-position: center !important;
  height: 370px;
  background-repeat: no-repeat;
}
.inner .inner__img .img-1 {
  background: url('/assets/imgs/mainBn_top_01.png');
}
.inner .inner__img .img-2 {
  background: url('/assets/imgs/mainBn_top_02.png');
}
.inner .inner__img .img-3 {
  background: url('/assets/imgs/mainBn_top_03.png');
}
.inner .inner__img .img-4 {
  background: url('/assets/imgs/mainBn_top_04.png');
}

.pagingInfo {
  position: absolute;
  bottom: 75px;
  left: 37%;
  color: #fff;
  width: 40px;
  font-size: 12px;
}
.mainInfo {
  position: relative;
  width: 550px;
  height: auto;
  background: #fff;
  margin-right: 10px;
  padding: 40px 0px 35px 0px;
}

.mainInfo h2 {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  margin-left: 45px;
}

.info__menu {
  padding: 20px 25px;
}

.info__menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.info__menu ul li {
  padding: 10px 20px;
  width: auto;
  display: flex;
  align-items: flex-start;
}

.info__menu .txt_box {
  width: 95px;
  vertical-align: middle;
  padding-left: 10px;
}

.info__menu .txt_box h3 {
  font-size: 14px;
  color: #333;
  margin: 0;
  margin-bottom: 5px;
}
.info__menu .txt_box p {
  font-size: 12px;
  color: #333;
  word-break: keep-all;
  margin: 0;
}

.info__menu .subimg {
  width: 90px;
}

.mainInfo .ad__banner {
  position: absolute;
  left: 53px;
  bottom: 15px;
}

.mainChart {
  width: 260px;
  height: 370px;
  background: #fff;
}

.mainChart h2 {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}

.mainChart .inner-chart {
  padding: 40px 30px;
}

.mainChart .inner-chart .rank_item {
  line-height: 25px;
}

.mainChart .inner-chart .item {
  font-size: 12px;
}

/* AdSection */

.ad__section {
  position: relative;
  margin: 30px auto 30px;
  padding: 0 24px;
}
.ad__section.inner {
  display: block;
}

.ad__section .ad__img {
  padding: 0 24px;
  padding-left: 30px;
}
.ad__section .ad__img button:before {
  font-family: 'xeicon';
  color: #333;
  font-size: 20px;
}

.ad__section .ad__img .slick-prev::before {
  content: '\e93d';
  font-family: 'xeicon';
}
.ad__section .ad__img .slick-next::before {
  content: '\e940';
  font-family: 'xeicon';
}

.ad__section .ad__img button {
  position: absolute;
  font-size: 0;
  color: transparent;
  top: 50%;
  transform: translateY(-50%);
}

.ad__section .ad__img .slick-prev {
  left: 0;
}
.ad__section .ad__img .slick-next {
  right: 0;
}

.ad__section .ad__img .swiper-slide {
  display: inline-block;
}

.ad__section .ad__img .slick-slide {
  margin-right: 20px;
}

/* HOT-section */

.hot__section {
  margin-bottom: 10px;
}

.hot__section .purple {
  color: #8f45ef;
}

.hot__section h2 {
  font-size: 28px;
  margin: 0 0 20px;
  padding-left: 42px;
  background: url('/assets/imgs/hot_keyword.png') 0 50% no-repeat;
}

.hot__section .thin {
  font-weight: 400;
}

.items {
  min-height: 600px;
}

.items .item {
  float: left;
  width: 300px;
  height: 190px;
  margin: 0 16px 16px 0;
  cursor: pointer;
  position: relative;
}

.items .item a {
  position: absolute;
  top: 0;
  display: block;
  width: 300px;
  height: 190px;
  background: #fff;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
}

.items .item:nth-child(4n + 1) {
  clear: both;
}
.items .item:nth-child(4n) {
  margin-right: 0;
}

.item .itemBox {
  width: 300px;
  height: 120px;
  background: #000;
  position: relative;
  overflow: hidden;
}

.item .itemBox .name {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 0 30px;
  margin: 0;
  width: 100%;
  line-height: 60px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.item a:hover {
  height: 395px;
  border: 2px solid transparent;
  background: linear-gradient(to right, white, white),
    linear-gradient(135deg, #add0ff, #bc8ff0);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  z-index: 9;
}
.items .item a:hover:after {
  content: url(../assets/imgs/plusB_con.png);
  background: #bc8ff0;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 13px 11px 10px 13px;
  border-top-left-radius: 10px;
}

.item .itemBox img {
  opacity: 0.2;
}
.item:hover .itemBox img {
  opacity: 0.9;
}

.items .item:nth-child(1) .itemBox {
  background: #e9b107;
}
.items .item:nth-child(2) .itemBox {
  background: #4b3961;
}

.items .item:nth-child(3) .itemBox {
  background: #e16045;
}
.items .item:nth-child(4) .itemBox {
  background: #474756;
}
.items .item:nth-child(5) .itemBox {
  background: #305a7e;
}
.items .item:nth-child(6) .itemBox {
  background: #b13c2f;
}

.items .item:nth-child(7) .itemBox {
  background: #383f4e;
}

.items .item:nth-child(8) .itemBox {
  background: #cd9308;
}

.item .itemBox .item_day {
  position: absolute;
  right: 20px;
  top: 0px;
  display: block;
  width: 44px;
  line-height: 19px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: #9c57f5;
  border-radius: 10px;
}

.item .sub_txt {
  padding: 12px 0 20px;
  margin: 0 29px;
}

.item .sub_txt p {
  font-size: 14px;
  line-height: 2;
  height: 28px;
  margin: 0;
  color: #6e6e6e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item .sub_txt .date {
  font-size: 12px;
  color: #f15959;
}

.items .item:hover .over_txt {
  display: block;
  margin: 0 29px;
}
.items .item .over_txt {
  margin: 0 29px;
  padding-top: 30px;
  border-top: 1px solid #e5e5e5;
}

.items .item .over_txt p {
  font-size: 14px;
  margin: 0;
  line-height: 1.8;
}
