@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Header */
#hd {
  width: 100%;
  max-width: 1250px;
  padding: 0;
  margin: 0 auto;
}

#hd .hd__li {
  display: flex;
  align-items: center;
  margin-top: 90px;
  position: relative;
}

#hd .hd__li h1 {
  margin-right: 30px;
}

#hd .hd__li ul {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

#hd .hd__logo {
}

#hd .hd__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  border: 2px solid #9c57f5;
  border-radius: 40px;
  z-index: 3;
  height: 40px;
  font-family: 'noto sans kr';
}

#hd .hd__search h2 {
  padding: 0 10px 0 25px;
  margin: 0;
  height: 35px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 500;
}

#hd .hd__search button {
  background-color: transparent;
  border: none;
}
#hd .hd__search button img {
  width: 30px;
  height: 30px;
}
.search-input {
  width: 230px;
  height: 35px;
  padding-left: 0;
  background: #fff;
  border: none;
  font-size: 14px;
}
.search-input::placeholder {
  color: #989898;
}
.search-input:focus {
  border: none;
  outline: none;
}
.search-input:focus::placeholder {
  color: #9c57f5;
  font-weight: 600;
}

/* hd__login */
#hd .hd__login a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
#hd .hd__login li {
  margin-right: 20px;
}
#hd .hd__login li span {
  margin-bottom: 6px;
}
#hd .hd__login li:last-child {
  margin-right: 0;
}

/* GNB */

.gnb-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gnb-list .menu {
  display: flex;
  align-items: center;
}
.gnb-list .sub-site {
  display: flex;
  align-items: center;
}

.gnb-list .menu li:not(:first-child) {
  width: 100px;
  text-align: center;
  padding: 0 5px;
  font-size: 16px;
  height: 65px;
  line-height: 65px;
}

.gnb-list .menu-all img {
  width: 55px;
  height: 55px;
}

.gnb-list .menu li a {
  color: #333;
}

.gnb-list .sub-site li {
  width: 100px;
  text-align: center;
  padding: 0 5px;
  font-size: 16px;
}

/* section */
.content_top {
  padding: 55px 0;
  background: linear-gradient(
    to right,
    rgba(173, 207, 255, 0.25) 0%,
    rgba(173, 206, 255, 0.25) 1%,
    rgba(181, 176, 248, 0.25) 50%,
    rgba(187, 143, 240, 0.25) 100%
  );
  border-bottom: 1px solid #dfdfdf;
}

.inner {
  display: flex;
  width: 1250px;
  margin: 0 auto;
}

.inner .inner__img {
  width: 420px;
  height: 370px;
  margin-right: 10px;
}

.inner .inner__img div {
  background-position: center !important;
  height: 370px;
  background-repeat: no-repeat;
}
.inner .inner__img .img-1 {
  background: url('/assets/imgs/mainBn_top_01.png');
}
.inner .inner__img .img-2 {
  background: url('/assets/imgs/mainBn_top_02.png');
}
.inner .inner__img .img-3 {
  background: url('/assets/imgs/mainBn_top_03.png');
}
.inner .inner__img .img-4 {
  background: url('/assets/imgs/mainBn_top_04.png');
}

.pagingInfo {
  position: absolute;
  bottom: 0;
  left: 37%;
  color: #fff;
  width: 40px;
}
.mainInfo {
  position: relative;
  width: 550px;
  height: auto;
  background: #fff;
  margin-right: 10px;
  padding: 40px 0px 35px 0px;
}

.mainInfo h2 {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  margin-left: 45px;
}

.info__menu {
  padding: 20px 25px;
}

.info__menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.info__menu ul li {
  padding: 10px 20px;
  width: auto;
  display: flex;
  align-items: flex-start;
}

.info__menu .txt_box {
  width: 95px;
  vertical-align: middle;
  padding-left: 10px;
}

.info__menu .txt_box h3 {
  font-size: 14px;
  color: #333;
  margin: 0;
  margin-bottom: 5px;
}
.info__menu .txt_box p {
  font-size: 12px;
  color: #333;
  word-break: keep-all;
  margin: 0;
}

.info__menu .subimg {
  width: 90px;
}

.mainInfo .ad__banner {
  position: absolute;
  left: 53px;
  bottom: 15px;
}

.mainChart {
  width: 260px;
  height: 370px;
  background: #fff;
}

.mainChart h2 {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}

.mainChart .inner-chart {
  padding: 40px 30px;
}

.mainChart .inner-chart .rank_item {
  line-height: 25px;
}

.mainChart .inner-chart .item {
  font-size: 12px;
}

/* AdSection */

.ad__section {
  position: relative;
  margin: 30px auto 30px;
  padding: 0 24px;
}
.ad__section.inner {
  display: block;
}

.ad__section .ad__img {
  padding: 0 24px;
  padding-left: 30px;
}
.ad__section .ad__img button:before {
  font-family: 'xeicon';
  color: #333;
  font-size: 20px;
}

.ad__section .ad__img .slick-prev::before {
  content: '\e93d';
  font-family: 'xeicon';
}
.ad__section .ad__img .slick-next::before {
  content: '\e940';
  font-family: 'xeicon';
}

.ad__section .ad__img button {
  position: absolute;
  font-size: 0;
  color: transparent;
  top: 50%;
  transform: translateY(-50%);
}

.ad__section .ad__img .slick-prev {
  left: 0;
}
.ad__section .ad__img .slick-next {
  right: 0;
}

.ad__section .ad__img .swiper-slide {
  display: inline-block;
}

.ad__section .ad__img .slick-slide {
  margin-right: 20px;
}
